html
    head 
        title YGO APP
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet")
        script(src="https://kit.fontawesome.com/264882c67d.js" crossorigin="anonymous")

        meta(name="viewport" content="width=device-width, initial-scale=1.0")
    body
        style 
            include ./styles/reset.css
            include ./styles/home.css

        if error
            p#error-message=error

        form(method='POST' action='/cards')
            label
                i.fa-solid.fa-shield-halved
                | Domain Search
            div#searchbar 
                if searchQuery
                    input(placeholder="Search for a card..." name='searchQuery' id='search-query' value=searchQuery type=search)
                else
                    input(placeholder="Search for a card..." name='searchQuery' id='search-query' type=search)

                i.fa-solid.fa-circle-info#info

            dialog
                .dialog-content
                    h2 List of available search query parameters
                    ul
                        li
                            strong name
                            |  - The exact name of the card. You can pass multiple | separated names to this parameter (Baby Dragon|Time Wizard).
                        li
                            strong fname
                            |  - A fuzzy search using a string. For example &fname=Magician to search by all cards with "Magician" in the name.
                        li
                            strong id
                            |  - The ID of the card. You cannot pass this alongside name. You can pass multiple comma separated IDs to this parameter.
                        li
                            strong konami_id
                            |  - The Official Konami ID of the card. This is not the card ID/Passcode.
                        li
                            strong type
                            |  - The type of card you want to filter by. See below "Card Types Returned" to see all available types. You can pass multiple comma separated Types to this parameter.
                        li
                            strong atk
                            |  - Filter by atk value.
                        li
                            strong def
                            |  - Filter by def value.
                        li
                            strong level
                            |  - Filter by card level/RANK.
                        li
                            strong race
                            |  - Filter by the card race which is officially called type (Spellcaster, Warrior, Insect, etc). This is also used for Spell/Trap cards (see below). You can pass multiple comma separated Races to this parameter.
                        li
                            strong attribute
                            |  - Filter by the card attribute. You can pass multiple comma separated Attributes to this parameter.
                        li
                            strong link
                            |  - Filter the cards by Link value.
                        li
                            strong linkmarker
                            |  - Filter the cards by Link Marker value (Top, Bottom, Left, Right, Bottom-Left, Bottom-Right, Top-Left, Top-Right). You can pass multiple comma separated values to this parameter (see examples below).
                        li
                            strong scale
                            |  - Filter the cards by Pendulum Scale value.
                        li
                            strong cardset
                            |  - Filter the cards by card set (Metal Raiders, Soul Fusion, etc).
                        li
                            strong archetype
                            |  - Filter the cards by archetype (Dark Magician, Prank-Kids, Blue-Eyes, etc).
                        li
                            strong banlist
                            |  - Filter the cards by banlist (TCG, OCG, Goat).
                        li
                            strong sort
                            |  - Sort the order of the cards (atk, def, name, type, level, id, new).
                        li
                            strong format
                            |  - Sort the format of the cards (tcg, goat, ocg goat, speed duel, rush duel, duel links). Note: Duel Links is not 100% accurate but is close. Using tcg results in all cards with a set TCG Release Date and excludes Speed Duel/Rush Duel cards.
                        li
                            strong misc
                            |  - Show additional response info (Card Views, Beta Name, etc.).
                        li
                            strong staple
                            |  - Check if the card is a staple.
                        li
                            strong has_effect
                            |  - Check if a card actually has an effect or not by passing a boolean true/false. Examples of cards that do not have an actual effect: Black Skull Dragon, LANphorhynchus, etc etc.
                        li
                            strong startdate, enddate, and dateregion
                            |  - Query release dates for cards and the region of these release dates (TCG or OCG). What date format you pass to startdate and enddate can be slightly varied as our API picks up different formats and converts it regardless. For example: Jan 01 2000 or 01/01/2000
                    em 
                        | press 
                        strong ESC 
                        | to return to search

        script 
            include ./scripts/syntaxDialog.js